<header pageTitle="Home" imageUrl="home" helpType="homepage"></header>
<mat-card [@fallIn]='state'>
  <mat-card-header>
    <mat-card-title>
      <mat-icon svgIcon="dashboard-black"></mat-icon>Elish Consulting
    </mat-card-title>
    <mat-card-subtitle>PAYROLL App</mat-card-subtitle>
  </mat-card-header>
  <mat-progress-bar mode="indeterminate" *ngIf="dataLoading"></mat-progress-bar>
  <mat-card-content *ngIf="!this.user else showLoggedIn">
    <mat-divider></mat-divider>
    <mat-error *ngIf="error" [@fallIn]='state'>Login credentials are not verified. Error: {{ errorMessage }}</mat-error>
    <form #formData="ngForm" (ngSubmit)="login(formData.value)" class="example-form">
      <mat-card-actions align="start">
        <button type="submit" [disabled]="!formData.valid" mat-raised-button color="primary">Log in</button>
      </mat-card-actions>
      <mat-form-field class="example-form">
        <input matInput placeholder="email" name="email" #email="ngModel" ngModel required email>
      </mat-form-field>
      <br>
      <mat-error *ngIf="email.invalid && (email.dirty || email.touched)">Please enter a valid email.</mat-error>
      <mat-form-field class="example-form">
        <input matInput type="password" placeholder="app password" name="password" #password="ngModel" ngModel required minlength="5"
          maxlength="30">
      </mat-form-field>
      <span *ngIf="password.invalid && (password.dirty || password.touched)">
        <mat-error *ngIf="password.errors['required']">Password is Required.</mat-error>
        <mat-error *ngIf="password.errors['minlength']">Password can't be less than 5 characters.</mat-error>
        <mat-error *ngIf="password.errors['maxlength']">Password can't be more than 30 characters.</mat-error>
      </span>
    </form>
    <mat-card-actions>
      <mat-divider></mat-divider>
      <button mat-button routerLink="/signup">
        No account? <strong>Create one with your email here</strong>
      </button>
    </mat-card-actions>
  </mat-card-content>
  <mat-card-content *ngIf="socialAuth">
    <mat-chip-list class="mat-chip-list-stacked" style="margin-left: 170px;">
      <mat-chip color="primary" selected="true" (click)="login('FB')">
        Login With Facebook
      </mat-chip>
      <mat-chip color="warn" selected="true" (click)="login('GOOGLE')">
        Login With Google
      </mat-chip>
    </mat-chip-list>
  </mat-card-content>
  <ng-template #showLoggedIn>
    <button type="button" routerLink="/settings" mat-raised-button color="primary">Click here to access your Account</button>
    <br/><br/><br/><br/>
    <button type="button" (click)="logout()" mat-raised-button color="primary">Logout</button>
  </ng-template>
</mat-card>